<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAuto</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
    <header class="navbar">
    <div class="logo-header">
        <img src="{% static 'img/_dabroauto 1.png' %}" alt="Логотип" class="logo-image-header">
    </div>
    <button class="burger-menu" id="burgerMenu">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
    </button>
    <nav id="menu" class="menu">
        <a href="#">Авто из Японии</a>
        <a href="#">Авто из Китая</a>
        <a href="#">Авто из Кореи</a>
        <a href="#">Аукционы</a>
        <a href="#">Контакты</a>
    </nav>
    <div id="contactInfo" class="contact-info-block">
        <div class="social-icons">
            <a href="#" class="icon telegram-icon" style="background-image: url({% static 'img/tg.png' %});"></a>
            <a href="#" class="icon whatsapp-icon" style="background-image: url({% static 'img/whatsapp.png' %});"></a>
            <a href="#" class="icon youtube-icon" style="background-image: url({% static 'img/Frame.png' %});"></a>
            <a href="#" class="icon vk-icon" style="background-image: url({% static 'img/vk.png' %});"></a>
        </div>
        <div class="contact-details">
            <span class="phone-number">+7 123 456 78 90</span>
            <a href="https://wa.me/71234567890" target="_blank" class="whatsapp-link">Написать в Whatsapp</a>
        </div>
    </div>
</header>
    <section class="hero">
        <h1>Авто с аукционов<br> Японии, Китая и Кореи<br> под ключ</h1>
        <div class="car-images-hero">
            <img src="{% static 'img/image 33.png' %}" alt="Машина 1" class="car-image-hero car-front">
            <img src="{% static 'img/image 34.png' %}" alt="Машина 2" class="car-image-hero car-back">
        </div>
        <p>Высокий сервис и качество, стоимость<br> автомобилей до 30% ниже рынка</p>
        <button>Рассчитать стоимость</button>
    </section>
    <section class="car-section">
    <h2>Автомобили с Японии</h2>
    <div class="car-icons-container">
        <div class="car-icons">
            <a href="#"><img src="{% static 'img/brand1.png' %}" alt="Car Icon 1"></a>
            <a href="#"><img src="{% static 'img/brand2.png' %}" alt="Car Icon 2"></a>
            <a href="#"><img src="{% static 'img/brand3.png' %}" alt="Car Icon 3"></a>
            <a href="#"><img src="{% static 'img/brand4.png' %}" alt="Car Icon 4"></a>
        </div>
        <a class="show-all-btn" href="{% url 'japan-page' %}">
            Смотреть все
            <svg width="7.5" height="13.75" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.875061 13.875C0.792976 13.8751 0.711683 13.8589 0.635852 13.8275C0.560022 13.7961 0.491148 13.75 0.433186 13.6919C0.375113 13.6339 0.329043 13.565 0.297611 13.4892C0.266179 13.4133 0.25 13.3321 0.25 13.25C0.25 13.1679 0.266179 13.0866 0.297611 13.0108C0.329043 12.935 0.375113 12.8661 0.433186 12.8081L6.24131 6.99998L0.433186 1.19186C0.188967 0.947636 0.188967 0.552168 0.433186 0.308105C0.677405 0.064043 1.07287 0.0638867 1.31694 0.308105L7.56694 6.55811C7.62501 6.61611 7.67108 6.68499 7.70251 6.76081C7.73394 6.83663 7.75012 6.9179 7.75012 6.99998C7.75012 7.08206 7.73394 7.16333 7.70251 7.23915C7.67108 7.31497 7.62501 7.38385 7.56694 7.44186L1.31694 13.6919C1.25897 13.75 1.1901 13.7961 1.11427 13.8275C1.03844 13.8589 0.957146 13.8751 0.875061 13.875Z" fill="black"/>
            </svg>
        </a>
    </div>
    <div class="car-cards">
        {% for car in japan_cars %}
        <div class="car-card">
            <div class="car-image">
                {% if car.image.all %}
                    <img src="{{ car.image.first.image.url }}" alt="Car Image">
                {% endif %}
                <div class="car-details">
                    <span class="price">{{ car.price }} ₽</span>
                    <span class="detail-box">{{ car.mileage }} км</span>
                </div>
            </div>
            <div class="car-info">
                <span>{{ car.brand }} {{ car.model }}</span>
                <p>{{ car.eng_v }} л, {{ car.priv }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
    <section class="car-section">
    <h2>Автомобили с Кореи</h2>
    <div class="car-icons-container">
        <div class="car-icons">
            <a href="#"><img src="{% static 'img/brand5.png' %}" alt="Car Icon 1"></a>
            <a href="#"><img src="{% static 'img/brand6.png' %}" alt="Car Icon 2"></a>
            <a href="#"><img src="{% static 'img/brand7.png' %}" alt="Car Icon 3"></a>
            <a href="#"><img src="{% static 'img/brand8.png' %}" alt="Car Icon 4"></a>
        </div>
        <a class="show-all-btn" href="{% url 'korea-page' %}">
            Смотреть все
            <svg width="7.5" height="13.75" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.875061 13.875C0.792976 13.8751 0.711683 13.8589 0.635852 13.8275C0.560022 13.7961 0.491148 13.75 0.433186 13.6919C0.375113 13.6339 0.329043 13.565 0.297611 13.4892C0.266179 13.4133 0.25 13.3321 0.25 13.25C0.25 13.1679 0.266179 13.0866 0.297611 13.0108C0.329043 12.935 0.375113 12.8661 0.433186 12.8081L6.24131 6.99998L0.433186 1.19186C0.188967 0.947636 0.188967 0.552168 0.433186 0.308105C0.677405 0.064043 1.07287 0.0638867 1.31694 0.308105L7.56694 6.55811C7.62501 6.61611 7.67108 6.68499 7.70251 6.76081C7.73394 6.83663 7.75012 6.9179 7.75012 6.99998C7.75012 7.08206 7.73394 7.16333 7.70251 7.23915C7.67108 7.31497 7.62501 7.38385 7.56694 7.44186L1.31694 13.6919C1.25897 13.75 1.1901 13.7961 1.11427 13.8275C1.03844 13.8589 0.957146 13.8751 0.875061 13.875Z" fill="black"/>
            </svg>
        </a>
    </div>
    <div class="car-cards">
        {% for car in korea_cars %}
        <div class="car-card">
            <div class="car-image">
                {% if car.image.all %}
                    <img src="{{ car.image.first.image.url }}" alt="Car Image">
                {% endif %}
                <div class="car-details">
                    <span class="price">{{ car.price }} ₽</span>
                    <span class="detail-box">{{ car.mileage }} км</span>
                </div>
            </div>
            <div class="car-info">
                <span>{{ car.brand }} {{ car.model }}</span>
                <p>{{ car.eng_v }} л, {{ car.priv }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="car-section">
    <h2>Автомобили с Китая</h2>
    <div class="car-icons-container">
        <div class="car-icons">
            <a href="#"><img src="{% static 'img/brand9.png' %}" alt="Car Icon 1"></a>
            <a href="#"><img src="{% static 'img/brand10.png' %}" alt="Car Icon 2"></a>
            <a href="#"><img src="{% static 'img/brand11.png' %}" alt="Car Icon 3"></a>
            <a href="#"><img src="{% static 'img/brand12.png' %}" alt="Car Icon 4"></a>
        </div>
        <a class="show-all-btn" href="{% url 'china-page' %}">
            Смотреть все
            <svg width="7.5" height="13.75" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.875061 13.875C0.792976 13.8751 0.711683 13.8589 0.635852 13.8275C0.560022 13.7961 0.491148 13.75 0.433186 13.6919C0.375113 13.6339 0.329043 13.565 0.297611 13.4892C0.266179 13.4133 0.25 13.3321 0.25 13.25C0.25 13.1679 0.266179 13.0866 0.297611 13.0108C0.329043 12.935 0.375113 12.8661 0.433186 12.8081L6.24131 6.99998L0.433186 1.19186C0.188967 0.947636 0.188967 0.552168 0.433186 0.308105C0.677405 0.064043 1.07287 0.0638867 1.31694 0.308105L7.56694 6.55811C7.62501 6.61611 7.67108 6.68499 7.70251 6.76081C7.73394 6.83663 7.75012 6.9179 7.75012 6.99998C7.75012 7.08206 7.73394 7.16333 7.70251 7.23915C7.67108 7.31497 7.62501 7.38385 7.56694 7.44186L1.31694 13.6919C1.25897 13.75 1.1901 13.7961 1.11427 13.8275C1.03844 13.8589 0.957146 13.8751 0.875061 13.875Z" fill="black"/>
            </svg>
        </a>
    </div>
    <div class="car-cards">
        {% for car in china_cars %}
        <div class="car-card">
            <div class="car-image">
                {% if car.image.all %}
                    <img src="{{ car.image.first.image.url }}" alt="Car Image">
                {% endif %}
                <div class="car-details">
                    <span class="price">{{ car.price }} ₽</span>
                    <span class="detail-box">{{ car.mileage }} км</span>
                </div>
            </div>
            <div class="car-info">
                <span>{{ car.brand }} {{ car.model }}</span>
                <p>{{ car.eng_v }} л, {{ car.priv }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="cost-calculation">
    <div class="cost-block">
        <h1 class="cost-title">Нужен расчет стоимости авто?</h1>
        <p class="cost-subtitle">Оставьте заявку и наши специалисты подберут Вам автомобиль под Ваши требования</p>
        <button class="calculate-cost-btn">Рассчитать стоимость</button>
    </div>
</section>
<div class="delivery-section">
    <div class="delivery-container">
        <div class="delivery-form-container">
            <span>Доставка</span>
            <p class="delivery-description">Выберите тип авто и пункт назначения</p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="radio">
                    {% for radio in form.car_type %}
                        {{ radio }}
                    {% endfor %}
                </div>
                <div class="input-container">
                    {{ form.destination }}
                    <img src="{% static 'img/Vector.png' %}" alt="Иконка" class="input-icon">
                </div>
                <button type="submit" class="calculate-cost-btn-delivery" name="delivery">Рассчитать стоимость</button>
            </form>
        </div>
        <div class="delivery-image">
            <img src="{% static 'img/image (20) 1.png' %}" alt="Изображение автомобиля">
        </div>
    </div>
</div>

    <div class="container">
  <div class="left-section">
    <span style="font-size: 48px; font-weight: 800;" class="about-company">О компании</span>
      <p class="centered-text">
        Наша компания предоставляет комлексные<br>
        услуги по заказу автомобилей. Мы сопровождаем<br>
        клиентов на всех этапах: от подбора и участия в<br>
        аукционах до доставки, таможенного оформления<br>
        и передачи автомобиля в России. Обеспечиваем<br>
        удобный, безопасный и прозрачный процесс<br>
        покупки для каждого клиента.
      </p>
    <div class="cards">
      <div class="card">
        Прямой доступ к аукционам
        <img src="{% static 'img/Vector_1.png' %}" alt="Иконка" class="card-icon">
      </div>
      <div class="card">
        Сопровождение сделки
        <img src="{% static 'img/Group.png' %}" alt="Иконка" class="card-icon">
      </div>
      <div class="card">
        Прозрачные условия
        <img src="{% static 'img/Group_2.png' %}" alt="Иконка" class="card-icon">
      </div>
      <div class="card">
        Индивидуальный подход
        <img src="{% static 'img/Group_3.png' %}" alt="Иконка" class="card-icon">
      </div>
    </div>
  </div>
  <div class="right-section">
  <span style="font-size: 30px; font-weight: 800;">Схема работы</span>
  <div class="cards">
    <div class="card-right">
        <b>Обращение клиента и консультация</b>
      <span class="stage-number">01</span>
    </div>
    <div class="card-right">
        <b>Заключение договора и предоплата</b><br><br>
        Подписывается договор, в котором прописаны все условия сделки.<br>
        Клиент вносит предоплату, чтобы компания начала поиск и участие в аукционах
      <span class="stage-number">02</span>
    </div>
    <div class="card-right">
        <b>Участие в аукционе и покупка автомобиля</b>
      <span class="stage-number">03</span>
    </div>
    <div class="card-right">
        <b>Доставка и таможенное оформление</b>
      <span class="stage-number">04</span>
    </div>
    <div class="card-right">
        <b>Передача автомобиля клиенту</b>
      <span class="stage-number">05</span>
    </div>
  </div>
</div>
</div>
    <div class="reviews-section">
        <div class="left-section-review">
            <span style="font-size: 48px; font-weight: 800;">Клиенты о нас</span>
            <div class="header-with-logo">
                <img src="{% static 'img/yandex.png' %}" alt="Логотип" class="logo">
                <span>Видеоотзывы</span>
            </div>
            <div class="video-card-review">
                <video controls class="custom-video">
                    <source src="{% static 'img/sample-5s.mp4' %}" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </div>
            <a href="#" class="all-reviews-button">
                Все отзывы
                <span class="review-count">3</span> <!-- Здесь замените 3 на нужное количество отзывов -->
            </a>
        </div>
        <div class="right-section-review">
            <div class="ratings">
                <div>
                    <img src="{% static 'img/Mask group.png' %}" alt="2ГИС" class="rating-icon"><strong style="font-size:32px;">2ГИС: 4.91</strong>
                </div>
                <div>
                    <img src="{% static 'img/yandex-map.png' %}" alt="Яндекс" class="rating-icon"> <strong style="font-size:32px;">Яндекс: 4.96</strong>
                </div>
            </div>
            <div class="review-cards">
                {% for review in reviews %}
                <div class="review-card">
                    <div class="stars">
                        {% for count in review.stars|range_filter %}
                            ★
                        {% endfor %}
                    </div>
                    <p>{{ review.text|truncatechars:100 }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="new-videos-section">
    <span>Новые видео в блоге</span>
    <div class="video-cards">
        <div class="video-card">
            <video controls>
                <source src="{% static 'img/sample-5s.mp4' %}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <p>Название видео 1</p>
        </div>
        <div class="video-card">
            <video controls>
                <source src="{% static 'img/sample-5s.mp4' %}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <p>Название видео 2</p>
        </div>
        <div class="video-card">
            <video controls>
                <source src="{% static 'img/sample-5s.mp4' %}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <p>Название видео 3</p>
        </div>
        <div class="video-card">
            <video controls>
                <source src="{% static 'img/sample-5s.mp4' %}" type="video/mp4">
                Ваш браузер не поддерживает видео.
            </video>
            <p>Название видео 4</p>
        </div>
        <!-- Добавьте дополнительные видео по мере необходимости -->
    </div>
</div>
    <div class="contact-container">
    <div class="contact-info">
        <p style="font-size: 48px; font-weight: 800;">Контакты</p>
        <p style="font-size: 16px; color: #666666">г. Владивосток, ул. Пушкина 90</p>
        <p style="font-size: 20px; font-weight: bold; margin-top: -7px; margin-bottom: 30px;">+7 (423) 123-45-67</p>
        <p style="font-size: 16px; color: #666666; margin-bottom: 7px;">Email</p>
        <a href="mailto:info@dabroauto.ru">info@dabroauto.ru</a>
        <p style="font-size: 20px; font-weight: bold; margin-top: 50px;">Подберем авто под ваш запрос</p>
        <form action="post_questionnaire_form" method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form_2.name }}
                {{ form_2.phone_number }}
            </div>
            <div class="form-row">
                {{ form_2.content }}
            </div>
            <button type="submit">Отправить заявку</button>
        </form>
        <div class="social-links">
            <a href="#"><img src="{% static 'img/tg.png' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'img/Frame.png' %}" alt="YouTube"></a>
            <a href="#"><img src="{% static 'img/vk.png' %}" alt="VK"></a>
        </div>
    </div>
    <div class="map">
       <iframe
        width="100%"
        height="100%"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=131.8750%2C43.1050%2C131.9250%2C43.1300&layer=mapnik&marker=43.1175%2C131.9006"
        style="border: 0;">
        </iframe>
    </div>
</div>
    <footer class="footer">
    <div class="footer-left">
        <nav class="footer-nav">
            <a href="#">Авто из Японии</a>
            <a href="#">Авто из Китая</a>
            <a href="#">Авто из Кореи</a>
            <a href="#">Аукционы</a>
            <a href="#">Контакты</a>
        </nav>
        <div class="footer-logo">
            <h2>DAbroAUTO</h2>
            <p>2024</p>
        </div>
    </div>
    <div class="footer-right">
        <div class="social-links-footer">
            <a href="#"><img src="{% static 'img/tg.png' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'img/Frame.png' %}" alt="YouTube"></a>
            <a href="#"><img src="{% static 'img/vk.png' %}" alt="VK"></a>
        </div>
        <div class="contact-info-footer">
            <p class="phone-number-footer">+7 123 456 78 90</p>
            <p>Написать в Whatsapp</p>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    const carTypeButtons = document.querySelectorAll('.radio input[type="radio"]'); // Получаем все input

    carTypeButtons.forEach(button => {
        const label = document.querySelector(`label[for="${button.id}"]`); // Получаем соответствующий label

        label.addEventListener('click', function() {
            // Удаляем класс 'active' у всех кнопок
            carTypeButtons.forEach(btn => {
                const associatedLabel = document.querySelector(`label[for="${btn.id}"]`);
                associatedLabel.classList.remove('active');
            });
            // Добавляем класс 'active' к текущей кнопке
            this.classList.add('active');
        });
    });
});
    document.getElementById('burgerMenu').addEventListener('click', function() {
    document.getElementById('menu').classList.toggle('active');
    document.getElementById('contactInfo').classList.toggle('active');
});

</script>
</body>
</html>
