{% load static %}

<div class="contact-container">
    <div class="contact-info">
        <p style="font-size: 48px; font-weight: 800;">Контакты</p>
        <p style="font-size: 16px; color: #666666">г. Владивосток, ул. Пушкина 90</p>
        <p style="font-size: 20px; font-weight: bold; margin-top: -7px; margin-bottom: 30px;">+7 (423) 123-45-67</p>
        <p style="font-size: 16px; color: #666666; margin-bottom: 7px;">Email</p>
        <a href="mailto:info@dabroauto.ru">info@dabroauto.ru</a>
        <p style="font-size: 20px; font-weight: bold; margin-top: 50px;">Подберем авто под ваш запрос</p>
        <form action="/post_questionnaire_form" method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form_2.name }}
                {{ form_2.phone_number }}
            </div>
            <div class="form-row">
                {{ form_2.content }}
            </div>
            <button type="submit">Отправить заявку</button>
        </form>
        <div class="social-links">
            <a href="#"><img src="{% static 'img/tg.png' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'img/whatsapp.png' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'img/Frame.png' %}" alt="YouTube"></a>
            <a href="#"><img src="{% static 'img/vk.png' %}" alt="VK"></a>
        </div>
    </div>
    <div class="map">
       <iframe
        width="100%"
        height="100%"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=131.8750%2C43.1050%2C131.9250%2C43.1300&layer=mapnik&marker=43.1175%2C131.9006"
        style="border: 0;">
        </iframe>
    </div>
</div>