{% extends 'base.html' %}
{% load tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <script defer src="{% static 'js/card.js' %}"></script>
{% endblock %}

{% block content %}
<main>
<section class="modal-gallery">
    <div class="modal-gallery-main">
        <div class="modal-gallery-slider"></div>
        <div class="modal-gallery-info">
            <div class="modal-gallery-info--section">
                <h2 class="modal-gallery-title">{{ car.brand }} {{ car.model }}</h2>
                <p class="modal-gallery-text">
                    {{car.year}}
                    {% if car.mileage %}
                        • {{car.mileage|beautify_number}} км
                    {% endif %}
                </p>
            </div>
            <p class="modal-gallery-count--mobile">{{car.price|beautify_number}} <span class="rub">₽</span></p>
            <div class="modal-gallery-info--section">
                <p class="modal-gallery-count">{{car.price|beautify_number}} <span class="rub">₽</span></p>
                <button class="modal-gallery-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Оставить заявку</button>
                <a href="{{ whatsapp_url }}" target="_blank" class="modal-gallery-link">
                    <img src="{%static 'img/wthp_modal.svg' %}" alt="" class="modal-gallery-link--img">
                </a>
            </div>
        </div>
    </div>
    <div class="modal-thumbnail"></div>

    <button class="modal-gallery-btn--close"><img src="{% static 'img/close.svg' %}" alt=""></button>
    <button class="modal-gallery-btn--control modal-gallery-btn--prev"></button>
    <button class="modal-gallery-btn--control modal-gallery-btn--next"></button>

</section>
<section>
    <div class="container">
        <div class="card-routing">
            <a href="/">Главная</a> • <a href="/{{ url_catalog_cars }}/">Автомобили из {{ name }}</a> • <a href="{{ request.path }}" class="active-routing">{{ car.mark }} {{ car.model }} {{ car.year }}</a>
        </div>
        <div class="content">
            <div class="car-info">
                <div class="title">{{ car.mark }} {{ car.model }} {{ car.year }}</div>
                <div class="text">
                    <div class="price">{{ car.price|beautify_number }} <span class="rub">₽</span></div>
                    <div class="info_questionary">
                        <div class="btns_stage">
                            <div class="btns_a">
                                <a href="#">Оставить заявку</a>
                            </div>
                            <a href="{{ whatsapp_url }}" target="_blank"><img src="{% static 'img/w1.svg' %}" alt=""></a>
                        </div>
                        <div class="economy">Экономия до 30% от рынка авто в наличии <img src="{% static 'img/info.svg' %}" alt=""></div>
                    </div>

                    <table class="info_table">
                        <tbody>
                            <tr>
                                <td>Год выпуска:</td>
                                <td><span>{{ car.year }} г.</span></td>
                            </tr>
                            {% if car.kuzov %}
                                <tr>
                                    <td>Кузов:</td>
                                    <td><span>{{ car.kuzov }}</span></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Страна:</td>
                                <td><span>{{ country }}</span></td>
                            </tr>
                            <tr>
                                <td>КПП:</td>
                                <td><span>{{ car.kpp }}</span></td>
                            </tr>
                            <tr>
                                <td>Объем двигателя:</td>
                                <td><span>{{ car.eng_v }} л.</span></td>
                            </tr>
                            <tr>
                                <td>Привод:</td>
                                <td><span>{{ car.priv }}</span></td>
                            </tr>
                            {% if car.color %}
                                <tr>
                                    <td>Цвет:</td>
                                    <td><span>{{ car.color }}</span></td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Пробег:</td>
                                <td><span>{{ car.mileage|beautify_number }} км</span></td>
                            </tr>
                            {% if car.rate and country == 'Япония' %}
                                <tr>
                                    <td>Оценка:</td>
                                    <td><span>{{ car.rate }}</span></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if not main_page_car %}
                    <button class="price_model_opener" onclick="openPriceModal()">Подробный расчет</button>
                    {% endif %}
                </div>
                <div class="card-box">
                    <div class="card__main">
                         <div class="gallery">
                             <div class="main-slides">
                                 {% for photo in car.images %}
                                 <img
                                     src="{{photo}}"
                                     alt="{{ car.brand }} {{ car.model }}"
                                     class="gallery-slide slide-{{ forloop.counter0 }} gallery__Image"
                                     data-large="{{photo}}"
                                     style="cursor: pointer;"
                                 />
                                 {% endfor %}
                                 <p class="slides-counter">
                                     <span class="curr-slide-count">0</span> /
                                     <span class="all-slides-count">8</span>
                                 </p>

                                 <div class="previous-slide-button slider-controller-button">
                                     <img class="slider-controller-button--img" src="{%static 'img/arrow-left.svg' %}" alt="" srcset="">
                                     <img class="slider-controller-button--back" src="{%static 'img/Ellipse 57.png' %}" alt="" srcset="">

                                 </div>
                                 <div class="next-slide-button slider-controller-button">
                                     <img class="slider-controller-button--img" src="{%static 'img/arrow-right.svg' %}" alt="" srcset="">
                                     <img class="slider-controller-button--back" src="{%static 'img/Ellipse 56.png' %}" alt="" srcset="">
                                 </div>
                             </div>
                         </div>
                        <div class="thumbnail-slides"></div>
                    </div>
                </div>
            </div>
        </div>
        {% with form_2=questionnaire_form %}
            {% include 'home/questionnaire_form.html' %}
        {% endwith %}
        {% if not main_page_car %}
        {% include 'car_card/price_modal.html' %}
        {% endif %}
    </div>
</section>
</main>
{% endblock %}

{% block scripts %}
    <script src="{%static 'js/correct.js' %}"></script>
    <script src="{%static 'js/card-slider.js' %}"></script>
{% endblock %}