{% load tags %}
{% load static %}

<div class="modal_price_back" onclick="closePriceModal()">
    <div class="modal_price" onclick="event.stopPropagation()">
        <div class="top">
            <button class="close" onclick="closePriceModal()"><img src="{% static 'img/close.svg' %}" alt="Закрыть"></button>
        </div>
        <div class="cont">
            <div class="title">Полная стоимость авто</div>
            <table>
                <tr>
                    <td>Средняя стоимость автомобиля во Владивостоке со всеми расходами:</td>
                    <td class="price">{{ car.price|beautify_number }} ₽</td>
                </tr>
                <tr>
                    {% if country == 'Япония' %}
                        <td>Стоимость авто в Японии:</td>
                    {% elif country == 'Китай' %}
                        <td>Стоимость авто в Китае:</td>
                    {% else %}
                        <td>Стоимость авто в Корее:</td>
                    {% endif %}
                    <td>{{ car.finish_price|multiply:car.current_currency.course|beautify_number }} ₽<br><span>{{ car.finish_price|beautify_number }} {{ car.country.currency_icon }}</span></td>
                </tr>
                {% if country == 'Япония' and car.eng_v > 1.8 %}
                    <td>Надбавка {{ car.commission.japan_sanction_percent }}% от стоимости на аукционе:</td>
                    <td>{{ car.finish_price|multiply:car.current_currency.course|percentage:car.commission.japan_sanction_percent|beautify_number }} ₽<br><span>{{ car.finish_price|percentage:car.commission.japan_sanction_percent|beautify_number }} {{ car.country.currency_icon }}</span></td>
                {% endif %}
                <tr>
                    {% if country == 'Япония' %}
                        <td>Расходы по Японии и Фрахт (усредненное значение):</td>
                    {% elif country == 'Китай' %}
                        <td>Расходы по Китаю (усредненное значение):</td>
                    {% else %}
                        <td>Расходы по Корее и Фрахт (усредненное значение)</td>
                    {% endif %}
                    {% if country == 'Япония' and car.eng_v > 1.8  %}
                        <td>{{ car.commission.japan_sanction_commission|multiply:car.current_currency.course|beautify_number }} ₽<br><span>{{ car.commission.japan_sanction_commission|beautify_number }} {{ car.country.currency_icon }}</span></td>
                    {% elif country == 'Корея' and car.finish_price > 30000000 %}
                        <td>{{ car.commission.korea_sanction_commission|multiply:car.current_currency.course|beautify_number }} ₽<br><span>{{ car.commission.korea_sanction_commission|beautify_number }} {{ car.country.currency_icon }}</span></td>
                    {% else %}
                     <td>{{ car.commission.commission_delivery|multiply:car.current_currency.course|beautify_number }} ₽<br><span>{{ car.commission.commission_delivery|beautify_number }} {{ car.country.currency_icon }}</span></td>
                    {% endif %}

                </tr>
                <tr>
                    <td>Склад, ЭПТС СБКТС, Услуга оформления:</td>
                    <td>{{ car.commission.commission_storage|beautify_number }} ₽</td>
                </tr>
                <tr>
                    <td>Перегон и сопутствующие регистрации:</td>
                    <td>{{ car.commission.commission_broker|beautify_number }} ₽</td>
                </tr>
                <tr>
                    <td>Комиссия:</td>
                    <td>{{ car.commission.commission|beautify_number }} ₽</td>
                </tr>
                <tr>
                    <td>Таможенные платежи:<br>
                    <span>Сборы за таможенное оформление: {{ car.customs_duty.0|beautify_number }} ₽</span><br>
                    <span>Единая ставка: {{ car.customs_duty.1|beautify_number }} ₽</span>
                    </td>
                    <td>{{ car.customs_duty.0|add:car.customs_duty.1|beautify_number }} ₽</td>
                </tr>
                <tr>
                    <td>Утилизационный сбор:</td>
                    <td>{{ car.customs_duty.2|beautify_number }} ₽</td>
                </tr>
            </table>
            <div class="currency">
                <div>Актуальный курс валют:</div>
                <div>1€ - {{ eur }} (ЦБ) | 1$ - {{ dollar }} (ЦБ) | 1{{ car.country.currency_icon }} - {{ car.current_currency.course }}</div>
            </div>
        </div>
    </div>
</div>