{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
<div class="container">
        <h1>Настройки интеграции</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.youtube_channel_url.label }} {{ form.youtube_channel_url }}<br>
            {{ form.youtube_count_videos.label }} {{ form.youtube_count_videos }}<br>
            {{ form.youtube_playlists.label }} {{ form.youtube_playlists }}<br>
            <button type="button" onclick="updatePlaylists()">Обновить плейлисты</button><br>
            {{ form.reviews_service_name.label }} {{ form.reviews_service_name }}<br>
            {{ form.reviews_count.label }} {{ form.reviews_count }}<br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <script>
function updatePlaylists() {
    const channelUrl = document.querySelector('input[name="youtube_channel_url"]').value;
    fetch("{% url 'update_playlists' %}", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ youtube_channel_url: channelUrl })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data)
        const playlistsSelect = document.querySelector('select[name="youtube_playlists"]');
        playlistsSelect.innerHTML = ''; // Очистить текущие опции
        data.playlists.forEach(playlist => {
            const option = document.createElement('option');
            option.value = playlist.id;
            option.textContent = playlist.title;
            playlistsSelect.appendChild(option);
        });
    });
}
</script>
{% endblock %}