{% extends 'base.html' %}

{% block content %}
    <h1>{{ name }}</h1>
    <form id="searchForm" method="post">
        {% csrf_token %}
        <div style="display: flex; gap: 20px">
            {{ form.mark }}
            <div style="display: flex">
                {{ form.year_from }}
                {{ form.year_to }}
            </div>
            <div style="display: flex">
                {{ form.eng_v_from }}
                {{ form.eng_v_to }}
            </div>
            {{ form.priv }}
        </div>
        <div style="display: flex; gap: 20px; padding-top: 20px">
            {{ form.model }}
            <div style="display: flex">
                {{ form.mileage_from }}
                {{ form.mileage_to }}
            </div>
            {{ form.kpp_type }}
            {{ form.color }}
        </div>

        <button style="margin-top: 20px" type="submit">Показать</button>
    </form>

    <h2>Популярные авто</h2>
    <div style="display: flex">
        {% for car in popular_cars %}
            <div style="background: white; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); margin: 10px; padding: 15px; width: 200px;">
                <h3 style="margin: 0;">{{ car.mark }} {{ car.model }} {{ car.grade }}</h3>
                <p style="margin: 5px 0;">{{ car.year }} • {{ car.mileage }} км</p>
                <img style="max-width: 100px; height: auto;" src="/media/{{ car.images.0 }}" alt="{{ car.mark }} {{ car.model }}">
                <h4 style="margin: 10px 0;">Цена: <span>{{ car.price }} ₽</span></h4>
            </div>
        {% endfor %}
    </div>

    <h2>Авто</h2>


    <div id="carContainer">
    {% for car in cars_info %}
        <div style="background: white; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); margin: 10px; padding: 15px; width: 200px;">
            <h3 style="margin: 0;">{{ car.mark }} {{ car.model }} {{ car.grade }}</h3>
            <p style="margin: 5px 0;">{{ car.year }} • {{ car.mileage }} км</p>
            <img style="max-width: 100px; height: auto;" src="{{ car.images.0 }}" alt="{{ car.mark }} {{ car.model }}">
            <h4 style="margin: 10px 0;">Цена: <span>{{ car.price }} ₽</span></h4>
        </div>
    {% endfor %}
    </div>
    <div class="pagination">
        {% for page in page_range %}
            {% if page == "..." %}
                <span>...</span>
            {% elif page == current_page %}
                <span style="color: red; font-weight: bold;">{{ page }}</span>  <!-- Выделяем текущую страницу -->
            {% else %}
                <a href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

        updateModels()

        $('#searchForm').submit(function () {

            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(location).attr('href'),
                success: function (response) {
                    const newParams = $('#searchForm').serialize().split('&').filter(e => e.split('=')[0] != 'csrfmiddlewaretoken');
                    const url = new URL(window.location.href);
                    newParams.forEach(e => url.searchParams.set(e.split('=')[0], e.split('=')[1]))
                    url.searchParams.set('page', '1')

                    window.history.pushState({}, '', url);

                    const cars = response.cars_info; // Получаем массив автомобилей
                    let carsHtml = ''; // Переменная для хранения HTML-кода

                    // Генерируем HTML-код для каждого автомобиля
                    cars.forEach(car => {
                        carsHtml += `
                            <div style="background: white; border-radius: 8px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); margin: 10px; padding: 15px; width: 200px;">
                                <h3 style="margin: 0;">${car.mark} ${car.model} ${car.grade}</h3>
                                <p style="margin: 5px 0;">${car.year} • ${car.mileage} км</p>
                                <img style="max-width: 100px; height: auto;" src="${car.images[0]}" alt="${car.mark} ${car.model}">
                                <h4 style="margin: 10px 0;">Цена: <span>${car.price} ₽</span></h4>
                            </div>
                        `;
                    });

                    // Обновляем контейнер с автомобилями
                    $('#carContainer').html(carsHtml);

                    const pageRange = response.page_range; // Новый диапазон страниц
                    const currentPage = 1; // Текущая страница
                    console.log(pageRange)

                    // Генерируем HTML-код для пагинации
                    let paginationHtml = '';
                    for (const page of pageRange) {
                        if (page === "...") {
                            paginationHtml += `<span>...</span>`;
                        } else if (page === currentPage) {
                            paginationHtml += `<span style="color: red; font-weight: bold;">${page}</span>`; // Выделяем текущую страницу
                        } else {
                            url.searchParams.set('page', `${page}`)
                            paginationHtml += `<a href="?${url.searchParams.toString()}">${page}</a>`;
                        }
                    }

                    // Обновляем контейнер с пагинацией
                    $('.pagination').html(paginationHtml);
                },
                error: function (response) {
                    const errors = JSON.parse(response.responseJSON.errors)
                    console.log(errors)
                }
            });
            return false;
        });

        $("[name='mark']").change(updateModels);

        function updateModels() {
            const markId = $("[name='mark']").val();
            $.ajax({
                url: `/models/?mark_id=${markId || -1}`,
                type: 'GET',
                success: function(data) {

                    const selectedModel = $('#id_model').val();
                    console.log(selectedModel)

                    // Очищаем текущий список моделей и добавляем первую опцию
                    $('#id_model').empty().append('<option value="" selected="">Модель авто</option>');

                    // Добавляем новые опции из данных
                    $.each(data, function(index, item) {
                        $('#id_model').append('<option value="' + item.id + '">' + item.name + '</option>');
                    });

                    // Устанавливаем выбранную модель, если она присутствует в обновленных данных
                    if (data.some(item => Number(item.id) === Number(selectedModel))) {
                        $('#id_model').val(selectedModel);
                    } else {
                        $('#id_model').val(''); // Если модели нет, выбираем "Модель авто"
                    }

                },
                error: function(xhr, status, error) {
                    console.error('Ошибка AJAX:', error);
                }
            });
        }
    })
    </script>
{% endblock %}