.card-routing {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF80;
}

.content {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  padding-top: 40px;
  padding-bottom: 120px;
}

.car-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.car-info .title {
  font-family: Bebas-Neue, Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #FFFFFF;
}

.car-info .price {
  font-family: Bebas-Neue, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
}

.btns_stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btns_stage .btns_a a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.78px;

  color: #fff;
  padding: 24px 40px;
  text-align: center;
  display: block;
  width: 300px;

  background: linear-gradient(94.98deg, #0D2F68 0%, #D51117 100%);
  border-radius: 60px;
}

.btns_stage .btns_a {
  margin-right: 12px;
}

.car-info .economy {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
}

.info_questionary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info_table {
  width: 500px;
  border-collapse: collapse;
  padding-top: 8px;
}

.info_table td {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FFFFFF80;
  border: 1px solid transparent;
  padding: 6px;
}

.info_table td span {
  display: block;
  min-height: 19.35px;
  color: #FFFFFF;
}

.rub {
  font-size: 85%;
}