.car-section {
    padding-top: 5%;
}

.car-section h2 {
    font-size: 38px;
    text-align: left;
    weight: 800;
}

.car-icons-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.car-icons {
    display: flex;
    gap: 10px;
}

.car-icons a {
    border: 2px solid #f0f0f0; /* светло-серая рамка */
    border-radius: 12px; /* скругление углов (по желанию) */
    padding: 1px; /* внутренние отступы (по желанию) */
    transition: border-color 0.3s; /* эффект при наведении */
    background-color: #f0f0f0;
    height: 55px;
    width: 55px;
}

.car-icons a:hover {
    border-color: gray; /* цвет рамки при наведении (по желанию) */
}

.car-icons a img {
    width: 55px;
    height: 55px;
}

.show-all-btn {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #F2F2F2;
    color: #000;
    border: none;
    border-radius: 12px; /* Rounded corners */
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 10px; /* Space between text and arrow */
    width: 135px;
    line-height: 19px;
    text-decoration: none;
}

.show-all-btn:hover {
    background-color: #c8c8c8;
}

.car-cards {
    display: flex;
    gap: 30px; /* Adjust gap as needed for spacing */
    justify-content: flex-start; /* Align cards to the left */
    /* Allows wrapping on smaller screens */
    height: auto;
    flex-wrap: wrap;
}

.car-cards a {
    text-decoration: none;
    color: black;
}

.car-card {
    width: 256px;
    height: auto;
    max-height: 307px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
}

.car-image {
    position: relative;
    width: 256px;
    height: 160px;
}

.car-image img {
    width: 256px;
    height: 160px;
    display: block;
    border-radius: 20px;
}

.car-details {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.price {
    background-color: #DB001A;
    color: #fff;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    width: auto;
    max-width: 120px;
    height: auto;
    max-height: 31px;
}

.detail-box {
    background-color: #222222;
    color: #fff;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    border-radius: 8px;
    font-size: 14px;
    width: auto;
    max-width: 89px;
    height: auto;
    max-height: 26px;
    weight: 400;
}

.car-info {
    padding-top: 20px;
    padding-right: 12px;
    padding-left: 12px;
    width: 256px;
    height: auto;
}

.car-info span {
    font-size: 18px;
    margin: 0;
    weight: 400;
    line-height: 22px;
}

.car-info p {
    font-size: 16px;
    color: #999999;
    margin: 5px 0 0;
    weight: 400;
}

.catalog-routing {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: black;
    margin-top: 50px;
}
.catalog-routing a {
    text-decoration: none;
    color: grey;
}
.active-routing {
    color: black !important;
}

.catalog-title {
    font-family: Bebas-Neue, Arial, sans-serif;
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
    color: black;
    text-align: left;
    text-transform: uppercase;
}

.catalog-title img {
  width: 34px;
  height: 34px;
  margin-top: -2px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    padding-left: 8%;
    padding-top: 5%;
    border-radius: 24px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}


.search-form {
  border-radius: 24px;
  background-color: #f0f0f0;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
  visibility: visible;
}

.form-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 12px;
}

.mobile-menu {
  padding-inline: 20px;
  align-items: center;
  gap: 16px;
  display: none;
}

.mobile-title {
  display: none;
  align-items: center;
  height: 72px;
  justify-content: space-between;
  padding: 16px;
  background: #011224;
  width: 100%;
}

@media (max-width: 992px) {
  .mobile-title {
    display: flex;
  }
}


.mobile-title button, .mobile-title a{
  width: 40px;
  height: 40px;
  background: #011224;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-title span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: white;
}

@media (max-width: 992px) {
  .mobile-menu {
    display: flex;
  }
}

.mobile-form-opener {
  width: 268px;
  height: 44px;
  border-radius: 42px;
  background: #949494;
  color: white;
  border: none;
  outline: none;


  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 1076px) and (max-width: 1400px) {
  .search-form {
    grid-template-columns: 1fr 1fr 1fr;
    visibility: visible;
  }

  .form-buttons {
    padding-top: 0;
  }

  #mark-dropdown {
    order: 0;
  }

  #model-dropdown {
    order: 1;
  }

  #year-dropdown {
    order: 2;
  }

  #mileage-dropdown {
    order: 3;
  }

  #eng_v-dropdown {
    order: 4;
  }

  #kpp_type-dropdown {
    order: 5;
  }

  #priv-dropdown {
    order: 6;
  }

  .color-group-dropdown {
    order: 7;
  }

  .form-buttons {
    order: 8;
  }
}

@media (min-width: 993px) and (max-width: 1075px) {
  .search-form {
    grid-template-columns: 1fr 1fr;
    visibility: visible;
  }

  #mark-dropdown {
    order: 0;
  }

  #model-dropdown {
    order: 1;
  }

  #year-dropdown {
    order: 2;
  }

  #mileage-dropdown {
    order: 3;
  }

  #eng_v-dropdown {
    order: 4;
  }

  #kpp_type-dropdown {
    order: 5;
  }

  #priv-dropdown {
    order: 6;
  }

  .color-group-dropdown {
    order: 7;
  }

  .form-buttons {
    order: 8;
  }
}

@media (max-width: 992px) {
  .search-form {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    z-index: 5;
    padding: 0;
    place-self: center;
    display: grid;
    justify-items: center;
    visibility: hidden;
  }

  #mark-dropdown {
    order: 0;
  }

  #model-dropdown {
    order: 1;
  }

  #year-dropdown {
    order: 2;
  }

  #mileage-dropdown {
    order: 3;
  }

  #eng_v-dropdown {
    order: 4;
  }

  #kpp_type-dropdown {
    order: 5;
  }

  #priv-dropdown {
    order: 6;
  }

  .color-group-dropdown {
    order: 7;
  }

  .form-buttons {
    order: 8;
  }
}

.catalog__filter-select {
  display: flex;
  justify-content: center;
  width: max-content;
}

.search-form .btn {
  width: 320px;
  height: 51px;
  padding: 16px;
  border-radius: 32px;
  background: white;
  outline: none;
  cursor: pointer;
  color: black !important;
  border: none;
  text-align: left;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form .btn:active {
  background: white;
  border: none;
}

.dropdown-toggle::after {
  margin-top: 2px;
}

.search-form .left-selector {
  width: 158px;
  border-radius: 32px 0 0 32px;
}

.search-form .right-selector {
  width: 158px;
  border-radius: 0 32px 32px 0;
}

.search-form .two-parts {
  display: flex;
  justify-content: center;
  height: max-content;
  width: max-content;
}

.search-form select {
  display: none;
}

.search-form .dropdown-menu {
  padding: 8px ;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 24px 0px #0000001F;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  z-index: 2;
  color: black !important;
}

.search-form .dropdown-menu::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.search-form .dropdown-menu::-webkit-scrollbar-track {
  margin-block: 6px;
  background: white;
}

.search-form .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 99990px;
  padding-block: 30px;
  background-color: #6e6658;
}


.search-form .dropdown-menu button {
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  color: black;
}

.search-form .dropdown-menu li:first-child button {
  color: black;
}

.search-form .dropdown-menu button:hover {
  background: #f0f0f0;
}

.font-weight-bold {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FFFFFF;
}

.search-form .two-parts span {
  background: white;
  color: #c8c8c8;
  font-size: 20px;
  width: 4px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.search-form .submit {
  width: 190px;
  height: 44px;
  border-radius: 30px;
  background: red;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

@media (max-width: 992px) {
  .search-form .submit {
    width: 328px;
    height: 44px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px;
    background: #D51117;
  }
}

.search-form .form-buttons a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #FD554B;
  height: max-content;
  visibility: hidden;
}

@media (max-width: 992px) {
  .search-form .form-buttons a {
    display: none;
  }
}

.order-select {
  width: 205px;
  height: 44px;
  border-radius: 30px;
  background: #FFFFFF1A;

  padding-left: 16px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  outline: none;
  border-right: 16px solid transparent;
  cursor: pointer;
}

.popular_cars {
    padding-block: 40px;
}

.catalog-content {
  padding-top: 12px;
  position: relative;
}

.catalog-content .swiper-slide {
  width: auto;
  padding: 8px;
}
.catalog-content .items2 {
  display: block;
  padding: 16px 8px;
  border-radius: 24px;
  width: 338px !important;
  position: relative;
  z-index: 1;
}
.catalog-content .items2::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 99%;
  top: 0;
  left: 0;
  background-color: #081E36;
  z-index: -1;
  border-radius: 24px;
}

.catalog-content .items2:hover .bottoms_als .red_btn {
  background-color: #D51117;
}
.catalog-content .items2 img {
  height: 241px;
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}
.catalog-content .items2 .top_items {
  margin-bottom: 16px;
  margin-left: 8px;
}
.catalog-content .items2 .top_items h3 {
  font-family: Bebas-Neue, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #fff;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.catalog-content .items2 .top_items p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.94px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5019607843);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.catalog-content .items2 .bottoms_als {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-left: 8px;
  margin-right: 8px;
}
.catalog-content .items2 .bottoms_als h4 {
  font-family: Bebas-Neue, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.catalog-content .items2 .bottoms_als .red_btn {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 12px 16px;
  border-radius: 30px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.catalog-content .swiper_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin: 0 0 12px 0;
}
.catalog-content .swiper_prev,
.catalog-content .swiper_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.catalog-content .swiper-button-disabled {
  cursor: auto;
  opacity: 0.5;
}

@media only screen and (max-width: 1065px) {
    .catalog-content .items2 {
        width: 300px !important;
        border-radius: 28px;
    }
    .catalog-content .items2 img {
        height: 150px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .catalog-content .items2 .bottoms_als h4 {
        font-size: 20px;
    }
    .catalog-content .items2 .bottoms_als .red_btn {
        padding: 8px 16px;
    }
    .catalog-content .items2 .top_items h3 {
        font-size: 20px;
        margin-bottom: 4px;
    }
    .catalog-content .items2 .top_items {
        margin-bottom: 8px;
    }
    .catalog-content .items2 .bottoms_als {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 632px) {
    .catalog-content .items2 {
        width: 250px !important;
        border-radius: 16px;
    }
    .catalog-content .items2 .top_items p {
        font-weight: 400;
    }
    .catalog-content .items2 img {
        height: 120px;
    }
}

@media only screen and (max-width: 536px) {
    .catalog-content .items2 {
        width: 180px !important;
    }
    .catalog-content .items2 .top_items {
        margin-left: 0;
    }
    .catalog-content .items2 .top_items h3 {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 4px;
    }
    .catalog-content .items2 .top_items p {
        font-size: 12px;
        line-height: normal;
    }
    .catalog-content .items2 img {
        height: 83px;
    }
    .catalog-content .items2 .bottoms_als {
        margin-left: 0;
    }
    .catalog-content .items2 .bottoms_als h4 {
        font-size: 16px;
        line-height: normal;
        margin-left: 0;
    }
}



@media only screen and (max-width: 768px) {
    .catalog-content .items2 .bottoms_als .red_btn {
        display: none;
    }
}

.pagination-elements {
  padding-top: 16px;
  padding-bottom: 140px;
  display: flex;
  justify-content: right;
}

@media only screen and (max-width: 948px) {
  .pagination-elements {
    padding-top: 30px;
    padding-bottom: 140px;
    display: flex;
    justify-content: center;
  }
}

.pagination {
  padding: 4px;
  gap: 2px;
  border-radius: 52px;
  display: flex;
  background-color: #f0f0f0;
  width: max-content;
  height: max-content;
}

.pagination a, .pagination span {
  padding-inline: 5px;
  min-width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transition: background-color 0.2s ease-in-out;
  border-radius: 48px;
}

.pagination a:hover {
  background-color: #c8c8c8;
}

.pagination .current-page {
  background-color: #D51117;
}

.view_more {
  padding: 12px 45px 12px 45px;
  border-radius: 30px;
  border: none;
  display: block;
  background: #FFFFFF1A;

  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;
  text-align: center;

  color: white;
  height: max-content;
}

.ordering__filter-select .btn {
  min-width: 205px;
  height: 44px;
  padding-inline: 16px;
  border-radius: 30px;
  background: #f0f0f0;
  outline: none;
  cursor: pointer;
  color: black;

  border: none;
  text-align: left;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

@media (max-width: 992px) {
  #ordering-dropdown {
    display: none;
  }
}

.ordering__filter-select .btn.mobile {
  width: 44px;
  min-width: 44px;
  height: 44px;
  padding: 16px;
  border-radius: 22px;
  background: #949494;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#ordering-mobile-dropdown .dropdown-toggle::after {
  display: none;
}



.ordering__filter-select .btn:active {
  background: #c8c8c8;
  border: none;
  color: black;
}

.dropdown-toggle::after {
  margin-top: 2px;
}

.ordering__filter-select .dropdown-menu {
  padding: 8px;
  border-radius: 12px;
  background: white;
  box-shadow: 0px 4px 24px 0px #0000001F;
  max-height: 300px;
  overflow-y: auto;
  width: max-content;
  z-index: 2;
}

.ordering__filter-select .dropdown-menu::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.ordering__filter-select .dropdown-menu::-webkit-scrollbar-track {
    background: #1A2939;
}

.ordering__filter-select .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 99990px;
    background-color: #6e6658;
}

.ordering__filter-select .dropdown-menu a {
  padding: 4px 12px 4px 12px;
  border-radius: 12px;
  color: #FFFFFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: black;

}

.ordering__filter-select .dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.rub {
  font-size: 85%;
}